/node_modules
/public/hot
/public/storage
/public/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
composer.phar
yarn-error.log
.env
.phpunit.result.cache
.rnd
/public/css/app.css
/public/*pdf
/public/js/app.js
/storage/logs
docker
