/node_modules
/public/hot
/public/storage
/public/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
composer.phar
yarn-error.log
.env
.phpunit.result.cache
.rnd
/public/css/app.css
/public/*pdf
/public/js/app.js
/storage/logs
docker
admin-panel.iml
/public/js/laroute.js
/public/mix-manifest.json

# generate files
/public/js/vue-scripts.js
/public/js/vue-chunk.js
/public/css/vue/styles.css

.env.local

/storage/debugbar/
*.sh
