.comment-icon {
    margin: 0px 16px 0px 16px;
    color: #4DCFFF;
}

.ui-tooltip {
    z-index: 999999 !important;
 }

.flex-input {
    display: flex;
    align-items: center;
}

.active-task{
    background: rgb(96, 2, 1) !important;
}
