.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

#dataTable_paginate {
    margin-bottom: 10px;
}

#dataTable {
    width: 100% !important;
}

.dt-center .btn {
    display: block;
}

@media (min-width: 1000px) {
    .edit {
        width: 100%;
    }
    .delete {
        width: 100%;
    }
}

.hoverable {
    display: block;
    max-height: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
}
.hoverable:hover {
    max-height: 999999px;
}
.ck-editor__editable {
    min-height: 500px;
}

.panel-body {
    overflow: unset !important;
}

.table-responsive {
    overflow-x: unset !important;
}

.table>tfoot>tr>th,
.table>thead>tr>th, #dataTable_info,
.table>thead>tr>th, .dataTables_paginate ,
.panel-body ,
.table ,
.form-control ,
#dataTable > tbody > tr {
    color: black !important;
}

.move__payment--button {
    padding: 6px 5px;
}
.payment__pending {
    color: orange;
    border: 2px solid orange;
    padding: 5px;
}
.payment__declined {
    color: red;
    border: 2px solid red;
    padding: 5px;
}
.payment__accepted {
    color: deepskyblue;
    border: 2px solid deepskyblue;
    padding: 5px;
}
.order-label {
    padding-top: 5px;
    padding-bottom: 5px;
}
.invoice__request--sent {
    font-weight: bold;
    color: green;
}

.firstOrder, .secondOrder, .thirdOrder, .fourthOrder, .fifthOrder {
    display: none;
}
.remove__invoices {
    color: red;
    font-weight: bold;
    display: block;
}

#columnSearch-left_to_pay {
    margin-top: 0px !important;
}

#difference-button {
    padding: 0 15px;
    margin-top: 0px;
}

#paymentsTable {
    width: 100%;
    float: left;
}
.add-label {
    cursor: pointer;
}

#transaction-history-modal .modal-dialog {
    width: 70%;
}

.wz__font {
    font-size: 1.5em;
    font-weight: bold;
}

.wz__description {
    font-size:14px;
    font-weight:bold;
}

.wz__position {
    width: 100px;
    display:inline-block;
}

.wz__container {
    width: 300px;
    display:inline-block;
}
.wz__image {
    width: 70px;
}
#consultant_comment {
    width: 70%;
}
.consultant__button--send {
    display: inline-block;
}

.invoice__visible {
    color: green;
    margin: 0px;
}

.invoice__invisible {
    color: red;
    margin: 0px;
}

.print-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px !important;
}

.z-index-max {
    z-index: 1000000;
}
.loader-2 {
    pointer-events: none;
}
.loader-2:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgb(255 255 255 / 90%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
.loader-2:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(/admin/voyager-assets?path=images%2Flogo-icon.png) no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: 1001;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}
.fc-rows tr:nth-child(even) {background: #eee;}
.fc-rows tr:nth-child(even) td {border: 1px solid #ddd;}
